Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase "/media_server"
RewriteRule ^(files/[^.]+)\.jpg(\?[.*]+)?$ image.php?file=$1.jpg&type=jpg&$2 [L,NC,QSA]
RewriteRule ^(files/[^.]+)\.jpeg(\?[.*]+)?$ image.php?file=$1.jpg&type=jpg&$2 [L,NC,QSA]
RewriteRule ^(files/[^.]+)\.png(\?[.*]+)?$ image.php?file=$1.png&type=png&$2 [L,NC,QSA]
RewriteRule ^(files/[^.]+)\.gif(\?[.*]+)?$ image.php?file=$1.gif&type=gif&$2 [L,NC,QSA]